<div class="row">
    <div class="col-xs-2 col-sm-2 col-md-2 col-lg-2">
        <img src="../../../assets/pali.png"
        class="img-fluid">
    </div>
    <div class="col-xs-12 col-sm-8 col-md-8 col-lg-8">
    <p>Pablo Nahuel Schiavoni</p>
    <p>Developer Jr</p>
</div>
<div class="col-xs-12 col-sm-12 col-md-12 col-lg-4>">
    <span>
        <h1>Acerca de mi</h1>
        <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Molestias voluptas, ad ut ipsum sequi dignissimos ea voluptate quisquam facere iure voluptatem totam porro mollitia rem libero, itaque nam et repudiandae.</p>

    </span>
</div>