<div class="row">

  <div>
    <u><h1>
      Conocimientos básicos en:
        </h1> </u>
  </div>

  <div>
    <circle-progress
  [percent]="100"
  [radius]="80"
  [imageSrc]="'../assets/angular.png'"
  [showImage]="true"
  [imageHeight]="100"
  [imageWidth]="100"
  [showUnits]="false"
  [showSubtitle]="false"
  [outerStrokeWidth]="16"
  [innerStrokeWidth]="2"
  [outerStrokeColor]="'#78C000'"
  [innerStrokeColor]="'#C7E596'"
  [animation]="true"
  [animationDuration]="2000"
  
></circle-progress>
  </div>
  <div>
    <circle-progress
  [percent]="100"
  [radius]="80"
  [imageSrc]="'../assets/python.png'"
  [showImage]="true"
  [imageHeight]="100"
  [imageWidth]="100"
  [showUnits]="false"
  [showSubtitle]="false"
  [outerStrokeWidth]="16"
  [innerStrokeWidth]="2"
  [outerStrokeColor]="'#78C000'"
  [innerStrokeColor]="'#C7E596'"
  [animation]="true"
  [animationDuration]="2000"
  
></circle-progress>
  </div>
  <div>
    <circle-progress
  [percent]="100"
  [radius]="80"
  [imageSrc]="'../assets/css.png'"
  [showImage]="true"
  [imageHeight]="100"
  [imageWidth]="100"
  [showUnits]="false"
  [showSubtitle]="false"
  [outerStrokeWidth]="16"
  [innerStrokeWidth]="2"
  [outerStrokeColor]="'#78C000'"
  [innerStrokeColor]="'#C7E596'"
  [animation]="true"
  [animationDuration]="2000"
  
></circle-progress>
  </div>  
  
  <div>
      <circle-progress
      [percent]="100"
      [radius]="80"
      [imageSrc]="'../assets/js.png'"
      [showImage]="true"
      [imageHeight]="100"
      [imageWidth]="100"
      [showUnits]="false"
      [showSubtitle]="false"
      [outerStrokeWidth]="16"
      [innerStrokeWidth]="2"
      [outerStrokeColor]="'#78C000'"
      [innerStrokeColor]="'#C7E596'"
      [animation]="true"
      [animationDuration]="2000"
      
    ></circle-progress>
    </div>
  <circle-progress
  [percent]="100"
  [radius]="80"
  [imageSrc]="'../assets/html.png'"
  [showImage]="true"
  [imageHeight]="100"
  [imageWidth]="100"
  [showUnits]="false"
  [showSubtitle]="false"
  [outerStrokeWidth]="16"
  [innerStrokeWidth]="2"
  [outerStrokeColor]="'#78C000'"
  [innerStrokeColor]="'#C7E596'"
  [animation]="true"
  [animationDuration]="2000"
  
></circle-progress>
</div>