<div>
    <a href="https://es-la.facebook.com/"><img src="../../../assets/descarga.png" id="facebook"></a>
    <a href="https://github.com/"><img src="../../../assets/kisspng-computer-icons-logo-portable-network-graphics-clip-icons-for-free-iconza-circle-social-5b7fe46b0bac53.1999041115351082030478.jpg" id="github"></a>
    <a href="https://www.instagram.com/"><img src="../../../assets/png-transparent-instagram-application-icon-logo-computer-icons-social-media-insta-purple-text-rectangle-thumbnail.png" id="instagram"></a>
    
</div>